#hello {
  margin-top: 0;
  border: none;
}
.hello-container {
    border: 1px solid grey;
    box-shadow: 1px 1px 3px gray;
    padding: 2px;
    height: auto;
}

.about-img-wrap {
  float: right;
}
.about-img-wrap .about-img {
  position: relative;
  padding-bottom: 56.2%;
  height: inherit;
}
.about-img-wrap .about-img img {
  position: absolute;
  object-fit: cover;
  align-items: center;
  width: 100%;
  height: 100%;
}
.img-responsive {
  display: block;
  max-width: 100%;
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.about-me-title {
  margin-bottom: 2px;
}
h1 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.about-me-text {
    margin-bottom: 20px;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-me-info {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.span-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    line-height: 1.66;
    float: left;
    display: block;
}